doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Log Out
		link(rel="stylesheet", href="/stylesheets/logout.css")
	body

	h1= title
	form(method="POST")
		p When you logout, you will be redirected to the landing page to start all over.
		h1 Are you sure you want to log out
		
		div
			button(type='submit') Yes

		div 
			a(href='/home') No