doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Log Out
	body

	h1= title
	form(method="POST")
		h1 Are you sure you want to log out
		
		div
			button(type='submit') Yes

		div 
			a(href='/home') No